.characters-section {
  background-image: url("http://res.cloudinary.com/dfufqfnjx/image/upload/v1479838016/11391b-marvel-universe-wallpaper-free-download_luyymn.jpg");
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-header {
  display: flex;
  font-size: 80px;
  align-items: center;
  font-weight: bolder;
  padding: 20px;
  color: white;
}

.home-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  background-color: white;
  margin: 20px;
  width: 200px;
  height: 80px;
}

.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}

.character-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
  padding: 20px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: darkred;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.character-item:hover {
  text-decoration: underline;
}

.character-title {
  padding-bottom: 10px;
}

.characters-list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.characters-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.characters-header {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 50px;
  margin-bottom: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@keyframes grow {
  from {width: 100%;
        height: 100%;}
  100% {width: 105%;
        height: 105%;}
}
