.search-results {
  position: absolute;
  background: darkred;
  padding: 20px;
  box-shadow:0 1px 2px rgba(0,0,0,.25),0 0 1px rgba(0,0,0,.35);
  border-radius: 3px;
  margin-top: 27px;
  border: 5px solid white;
}

.hidden {
  display: none;
}
.search-results strong {
  display: inline-block;
  margin-bottom: 10px;
}

.search-list li {
  margin-bottom: 10px;
  color: white;

}

.search-list li:hover {
  text-decoration: underline;
}

.auto {
  padding: 10px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
}

.search-item {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: normal;
}

.search-img {
  padding-right: 10px;
}
